/* Per i grid-column e grid-row fare riferimento a:
https://media.prod.mdn.mozit.cloud/attachments/2017/03/05/14763/bb3ae46f185babbecfae8d0ac8d66a75/1_diagram_numbered_grid_lines.png*/

/* Main */
html {
  /* In this way you let the html to figure out
	the correct margin to have to the left and to the right */
  margin-left: auto;
  margin-right: auto;
}

body {
  max-height: 100vh;
  margin: 0px;
  /*background-color: #2E3440;*/
  font-size: small;
  /* Good to scaling if the user want resizing the page.
  If you want to change the entire
  body font (like to "medium", or "large") you have
  only to change this and the rest of the page will follow */
  /*background-image: url("../Images/background.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}


#main_container_about {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  grid-auto-rows: minmax(100px, auto);
}

#main_container_about > #header_about {
  /*background-color: grey;*/
  grid-column: 1/4;
}
#main_container_about > #social_linkers_about {
  background-color: #C0C0C0;
  grid-column: 1/4;
}
#main_container_about > #other_pages_about {
  background-color: grey;
  grid-row: 3/7;
}
#main_container_about > #text_about {
  background-color: #C0C0C0;
  grid-column: 2/4;
  grid-row: 3/7;
}

#header_about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Courier Prime", monospace, "EB Garamond", Times, sans-serif;
}

#header_about > #header_data_science {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  width: auto;
  font-size: 200%;
}

#header_about > #header_programming {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: auto;
  font-size: 200%;
}

#header_about > #header_blog {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  width: auto;
  font-size: 200%;
}
