/* Variables */

:root {
  /* se volessi cambiare il colore di seguito in tutta la pagina
  lo fai una sola volta in questo caso */
  --primary: #4287f5;
  --secondary: rgb(255, 255, 255);
  --third: rgb(0, 0, 0);
}

/* reset (browser styles) */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li{
  list-style-type: none;
}

/* base styles */

body {
  background: var(--secondary);
  overflow-x: hidden;
}

.button {
  background: none;
  border: 1px solid var(--third);
  border-radius: 15px 15px;
  color: var(--third);
  padding: 6px 12px;
  text-transform: uppercase;
  display: inline-block;
}

.button:hover {
  text-decoration: underline;
  background: var(--primary);
}


/* Mobile Styles */


/* Small Tablet Styles */

@media screen and (min-width: 620px) {

}

/* Large Tables and (small) laptops styles */
@media screen and (min-width: 960px) {

}

/* Desktop Styles*/
@media screen and (min-width: 1200px) {

}
