/* Main */
html {
  /* In this way you let the html to figure out
	the correct margin to have to the left and to the right */
  margin-left: auto;
  margin-right: auto;
}

body {
  max-height: 100vh;
  margin: 0px;
  /*background-color: #2E3440;*/
  font-size: small;
  /* Good to scaling if the user want resizing the page.
  If you want to change the entire
  body font (like to "medium", or "large") you have
  only to change this and the rest of the page will follow */
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

#main_container {
  display: -ms-grid;
  /* With margin top 50px you distanciate all the content */
  margin-top: 50px;
  /* Create two columns with different areas*/
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: 33.33% 0px 33.33% 0px 33.33%;
  grid-template-rows: repeat(3, 33.33%);
  grid-template-areas:
    "a";
}












/* Third row*/
#link_other_pages {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: f;
  display: flex;
  color: white;
  font-size: 150%;
  font-family: "Courier Prime", monospace, "EB Garamond", Times, sans-serif;
  border-width: 0px;
  border-style: solid;
  border-color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
















/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}
