html {
  margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.button_nav {
  background: none;
  color: white;
  padding: 6px 12px;
  display: inline-block;
}

li {
  list-style-type: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  grid-column-gap: 1%;
}

.grid_item {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.grid_item1 {
  display: flex;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  grid-column: 1/4;
  grid-row: 1/9;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('Example_Images/hannah-troupe-0FQneB1VjaM-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: auto;
}

.footer {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.8);
  grid-column: 1/4;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.nav_class {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.8);
  flex-direction: column;
}







/* Desktop Styles*/
@media screen and (min-width: 1200px) {

  html {
    height: 100vh;
  }

  body {
    /* Aumenta il font size dato che aumenti le dimensioni
    dello schermo. Vai a definire un DEFAULT font size che
    verrà moltiplicato col font size della versione Mobile
    per esempio, ottenendo 1.5*20px ad esempio. */
    font-size: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    background-size: cover;
  }

  /* reset (browser styles) */
  body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  li{
    list-style-type: none;
  }

  p {
    font-family: 'Prompt', sans-serif;
    font-size: 0.8em;
  }
}
