html {
	margin: 0px;
	height: 100vh;
}

body {
	margin: 0px;
	padding: 0px;
}

.button_nav {
	background: none;
	color: white;
	padding: 6px 12px;
	display: inline-block;
}

li {
	list-style-type: none;
	display: inline;
	padding-right: 3%;
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Prompt', sans-serif;
	font-size: 0.8em;
	margin: 1%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	border: 1px solid black;
	min-height: 100vh;
}

.grid_item1 {
	display: flex;
	background-color: black;
	border: 1px solid rgba(0, 0, 0, 0.8);
	grid-column: 1/4;
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;
	background-image: url('Example_Images/hannah-troupe-0FQneB1VjaM-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.grid_item2 {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

.grid_item2 p {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	align-items: center;
	justify-content: center;
}

.photo_grid {
	display: grid;
	grid-template-columns: 1fr;
	border: 1px solid black;
	grid-gap: 0.5%;
	/* IDEA: https://stackoverflow.com/questions/1161166/how-can-i-ensure-a-div-stretches-to-fit-its-contents
	Check this out fot resolve the following problem: the photo grid doesn't
	stretch for fitting the viewport of the mobile version */
	overflow: hidden;
}

.photo_grid_item {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.8);
	justify-content: center;
	height: 560px;
}

.nav_class {
	display: flex;
	border: 1px solid rgba(255, 255, 255, 0.8);
	flex-direction: column;
}

.footer {
	margin-top: auto;
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.8);
	text-align: center;
	flex-direction: column;
	justify-content: center;
}


/* Desktop Styles*/

@media screen and (min-width: 1200px) {
	html {
		height: 100vh;
		margin: 0px;
	}
	body {
		/* Aumenta il font size dato che aumenti le dimensioni
    dello schermo. Vai a definire un DEFAULT font size che
    verrà moltiplicato col font size della versione Mobile
    per esempio, ottenendo 1.5*20px ad esempio. */
		font-size: 20px;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		background-repeat: repeat;
		background-size: cover;
		margin: 0px;
		padding: 0px;
	}
	/* reset (browser styles) */
	body,
	p,
	a,
	ul,
	li {
		margin: 0;
		padding: 0;
		text-decoration: none;
	}
	.button_nav {
		background: none;
		color: white;
		padding: 6px 12px;
		display: inline-block;
	}
	p {
		font-family: 'Prompt', sans-serif;
		font-size: 0.8em;
	}
	li {
		list-style-type: none;
		display: inline;
		padding-right: 3%;
		font-family: 'Playfair Display', serif;
	}

	.grid_item {
		display: flex;
		border: 1px solid rgba(0, 0, 0, 0.8);
		text-align: center;
		flex-direction: column;
		justify-content: center;
	}
	.grid_item1 {
		display: flex;
		background-color: black;
		border: 1px solid rgba(0, 0, 0, 0.8);
		grid-column: 1/4;
		text-align: center;
		flex-direction: column;
		justify-content: flex-start;
		background-image: url('Example_Images/hannah-troupe-0FQneB1VjaM-unsplash.jpg');
		background-repeat: no-repeat;
		background-position: center;
	}
	.grid_item2 {
		display: flex;
		grid-column: 1/4;
		text-align: center;
		flex-direction: column;
		justify-content: center;
	}
	.grid_item2 p {
		font-family: 'Montserrat', sans-serif;
		font-size: 50px;
		border: 1px solid rgba(0, 0, 0, 0.8);
		height: 100%;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.photo_grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		border: 1px solid black;
		grid-gap: 1%;
		text-align: center;
		justify-content: center;
		align-content: flex-start;
	}
	.photo_grid_item {
		display: flex;
		border: 1px solid rgba(0, 0, 0, 0.8);
		text-align: center;
		justify-content: center;
		width: 400px;
	}
	.footer {
		margin-top: auto;
		border: 1px solid rgba(0, 0, 0, 0.8);
		grid-column: 1/4;
	}
	.nav_class {
		display: flex;
		border: 1px solid rgba(255, 255, 255, 0.8);
		flex-direction: column;
	}
}
